body {
    font-family: 'Mulish', sans-serif;
}

/* same class related styles */
.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 12px 36px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.primary-title {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.primary-blog {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

/* nav related styles */
.humburger {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-head {
    display: flex;
}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-img {
    height: 56.008px;
    width: 48px;
    margin-top: 25px;
    margin-right: 5px;
}

.nav-travel {
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-about {
    display: flex;
    margin-top: 25px;
}

.nav-about li {
    list-style-type: none;
    margin-top: 30px;
    margin-right: 44px;

}

.nav-about a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#nav-home {

    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* nav related styles end */

/* header related styles start */
.first-main-container {
    display: flex;
    justify-content: center;
}


.first-container {
    padding: 100px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 1300px;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.first-container div {
    align-items: center;
}

.text {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.blog {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.banner-box {
    border: 0px solid #FFF;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    height: 84px;
    width: 900px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-img {
    width: 18.001px;
    height: 18.001px;
    margin-right: 3px;
}

.banner-select {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* header related styles end */


.second-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.popular-tour {
    text-align: start;
    height: 400px;
    width: 1000px;
    padding: 24px;

}

.popular-img {
    height: 550px;
    width: 600px;
    padding: 24px;
}

/* third section related styles */

.destination {
    padding: 50px;
    display: grid;
    grid-template-areas:
        "first-img first-img second-img second-img"
        "third-img fourth-img fourth-img fifth-img"
        "sixth-img sixth-img seventh-img seventh-img"
    ;
    gap: 24px;
}

.destination>img {
    height: 100%;
    width: 100%;
}

.destination-img-1 {
    grid-area: first-img;

}

.destination-img-2 {
    grid-area: second-img;
}

.destination-img-3 {
    grid-area: third-img;
}

.destination-img-4 {
    grid-area: fourth-img;
}

.destination-img-5 {
    grid-area: fifth-img;
}

.destination-img-6 {
    grid-area: sixth-img;
}

.destination-img-7 {
    grid-area: seventh-img;
}


.third-title,
.fourth-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.third-blog,
.fourth-blog {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

/* fourth section related styles */
.fourth-container {
    display: grid;
    justify-content: center;
}

.box-child {
    justify-content: center;
    display: flex;
    gap: 24px;
}

.box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    border: 2px solid black;
    gap: 24px;
    height: 900px;
    width: 1500px;

}

.box-img {
    width: 64px;
    height: 64px;
}

.third-sec-box-1 {
    padding: 32px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}


.third-sec-box-2 {
    padding: 32px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third-sec-box-3 {
    padding: 32px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


/* responsive the website for mobile */
@media screen and (max-width:576px) {
    .humburger {
        display: block;
        margin-top: 30px;
    }

    .nav-option {
        display: none;
    }


    .banner-select {
        width: 100px;
        height: 36px;
    }

    .first-container {
        width: 335px;
        height: 483px;
        padding: 24px;
    }

    .banner-box,
    .second-container,
    .box-child,
    .box-item {
        flex-direction: column;
        height: auto;
        width: 360px;
        padding: 8px;
        align-items: flex-start;
        gap: 16px;
    }

    .banner-select {
        width: 255px;
        height: 52px;
    }

    .text {
        color: #FFF;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .blog {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    /* second container */
    .popular-tour>p,
    h2,
    li {
        color: #131318;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .popular-tour {
        width: 335px;
        height: 850px;
        padding: 24px;
    }

    .popular-img {
        width: 335px;
        height: 483px;
    }

    .popular-img>img {
        width: 100%;
        height: 100%;
    }

    /* third section related */
    .destination {

        grid-template-areas:
            "first-img"
            "second-img"
            "third-img"
            "fourth-img"
            "fifth-img"
            "sixth-img"
            "seventh-img";
        align-items: center;
    }

    .destination>img {
        width: 100%;
        height: 100%;
    }

    /* fourth section related styles */
    .third-sec-box-1 {
        width: 280px;
        height: 289px;
        flex-shrink: 0;
    }
    .third-sec-box-2 {
        width: 280px;
        height: 289px;
        flex-shrink: 0;
    }
    .third-sec-box-3 {
        width: 280px;
        height: 289px;
        flex-shrink: 0;
    }
}